


html {
   
  font-family: "Open Sans", sans-serif;
  font-size: 16px;

}

.form-group {
  margin-top: 10px;
  border-radius: 5px;
  width: 55%;
}




.formContainer {

  height: 44rem;
  margin: 1rem auto;
  background-color: blanchedalmond
}
.topItem {
  margin-top: 1.5rem;
}
.cardContainer {
  margin: 0 auto
}
.bg-primary {

    background-color: cornflowerblue;
}

.input-group {
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}

input.form-control {
  border-radius: .3rem;
  border: none;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}

input.form-control:focus {
  box-shadow: none;
}

input.form-control::placeholder {
  font-style: italic;
}

.input-group-text {
  border-radius: .3rem;
  border: none;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}



.cardBackUrgent {
  background-color: rgb(184, 92, 52)
}
p {

  text-align: left;
}

.colName {
 
  text-align: center;
  margin: 2rem;

}
.color_done .card {
  background-color:rgb(99, 245, 136);
}

.color_inProgress .card {
  background-color: rgb(114, 157, 250);
}

.color_toDo .card {
  background-color: rgb(247, 245, 100);
}

.color_stuck .card {
  background-color: rgb(250, 146, 134);
}
/******* Date Picker ******/
.datepicker-dropdown {
  box-shadow: 0 .32rem 10px rgba(0, 0, 0, 0.1);
}
.datepicker td, .datepicker th {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.85rem;
}

.datepicker {
    margin-bottom: 3rem;
}
/****** Button ******/
.rmvBtn {
  display: inline-block ;
  padding: .7em 1em;
  margin: 0 0.1em 0.1em 0;
  border-radius: .3rem;
  box-sizing: border-box;
  background-color: rgb(180, 36, 36);
  text-decoration: none;
  text-shadow: .08rem .08rem .05rem black;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}


.rmvBtn:focus {
  outline: none;
}

.button {
  transition-duration: 0.4s;
  color: orange;
  border-radius: 8px;
  margin: 100px auto;
}

.button:hover {
  background-color: orange;
  color: white;
}

.lilButton {
  display: inline-block ;
  margin: 2rem auto 1rem auto;
  padding: 0.5rem 7rem;
  font-size: 1.5rem;
  background-color: rgb(252, 179, 120);
  border-color: rgb(204, 117, 4);
  text-shadow: .08rem .08rem .05rem black;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
.lilButton:hover{
  border: .18rem solid;
  text-shadow: .1rem .1rem .1rem rgba(0,0,0,.5);
  color:#3b96c0;
  background-color: rgb(252, 232, 120);
  border-color: rgb(201, 204, 4);
}
.lilButton:active{
  outline: none;
  text-shadow: .1rem .1rem .1rem rgba(0,0,0,.75);
  background-image: linear-gradient(#977b38, #fafacc, #977b38) ;
  border-color: #9f7928 ;
  color:  #FFFFAC;
}
.lilButton:focus {
  outline: none;
}